.SignUpForm{
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccButton{
  margin-top: 1vw;
  width: 6vw;
  height: 3vw;
}

.RegisterPokePollImage {
  height: 3.5rem;
  margin-top: 2rem;
}