:root {
--bug: #97e587;
--dragon: #e6b752;
--electric: #ffff5f;
--fighting: rgb(229, 167, 90);
--fire: rgb(240, 112, 112);
--flying: #d3e1e1;
--ghost: #a05ec3;
--grass: #72ea86;
--ground: #e19946;
--ice: rgb(99, 200, 237);
--normal: rgb(172, 188, 197);
--poison: rgb(137, 121, 197);
--psychic: rgb(155, 132, 231);
--rock: rgb(175, 134, 104);
--water: rgb(113, 193, 255);
--fairy: rgb(211, 118, 213);
--bug2: rgb(167, 241, 153);
--dragon2: #f2c459;
--electric2: rgb(246, 255, 125);
--fighting2: rgb(232, 181, 119);
--fire2: rgb(252, 139, 139);
--flying2: #d3e1e1;
--ghost2: rgb(184, 126, 215);
--grass2: #92ffa4;
--ground2: #e1a561;
--ice2: rgb(124, 208, 238);
--normal2: rgb(179, 192, 198);
--poison2: rgb(150, 138, 197);
--psychic2: rgb(147, 154, 231);
--rock2: rgb(189, 151, 124);
--water2: rgb(136, 197, 244);
--fairy2: rgb(213, 141, 214);
}